<h1>Michael Santer</h1>
<h2>Calendar</h2>

<script type="text/javascript">
	$(document).ready(createCal);
</script>

<table class="table table-bordered">
	<thead>
		<tr>
			<th id="back-year"><<</th>
			<th id="back-month"><</th>
			<th id="month"colspan='3'>Month</th>
			<th id="forward-month">></th>
			<th id="forward-year">>></th>
		</tr>
		<tr>
			<th>Sunday</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

