<h1>Michael Santer</h1>
<h2>Calendar</h2>

<script type="text/javascript">
	$(document).ready(createCal);
</script>
<br><br>

<div>Select Time:</div>
<select class="form-control" id="time">
	<option>12:00am</option>
	<option>12:30am</option>

	<%(1..11).each do |time|%>
	<option><%=time%>:00am</option>
	<option><%=time%>:30am</option>
	<%end%>

	<option>12:00pm</option>
	<option>12:30pm</option>

	<%(1..11).each do |time|%>
	<option><%=time%>:00pm</option>
	<option><%=time%>:30pm</option>
	<%end%>
</select>

<input type="text" class="form-control" id="description" placeholder="Enter Description">

<br><br><br><br>

<table class="table table-bordered calendar">
	<thead>
		<tr>
			<th><a id="back-year">  <<  </a></th>
			<th><a id="back-month">  <  </a></th>
			<th id="month"colspan='3'>  Month  </th>
			<th><a id="forward-month">  >  </a></th>
			<th><a id="forward-year"> >>  </a></th>
		</tr>
		<tr>
			<th>Sunday</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

