<h1>Project 2</h1>
<p> <br>
	To complete this project, I created a new route to this page using the 
	"rails generate controller" command. I also updated the projects.yml file to 
	include its path. <br><br>

	I also, installed the "bootstrap-sass" gem and added it to my gemfile to setup bootstrap. Additionally, I added the jquery-rails gem as well. <br><br>

	To be able to use bootstrap, I added the line "@import 'bootstrap'" to application.css.scss, and
	"//= require bootstrap" to application.js. <br><br>
	
	Finally I added some simple formatting, including padding to the top, right, and left of the 
	site. I did this by adding some simple code to the pages.css.scss file. This way it would translate
	across all pages. I also used some formatting for the table in home.html.erb. All the formatting I used was provided by examples from the Bootstrap website. <br><br>

</p>
