// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table-bordered th{
	text-align: center;
	border-top: 1;
	height: 1em;
}

.table-bordered td{
	width: 10em;
	height: 5em;
}

#back-month, #back-year,
#forward-month, #forward-year{
	cursor: pointer;
	color: #2A5889;
}

.del-button{
	cursor: pointer;
	display: none;
	float: right;
	a {color: red;}
}

[data-id]:hover div{
	display: inline;

}